<!-- Styling for the site footer -->
<style>
    .site-footer {
        background-color: rgb(17, 3, 59); /* Set background color */
    } 
</style>

<!-- Footer section -->
<footer class="site-footer" id="footer">
    <!-- Copyright notice with link to privacy policy and contact us pages -->
    <p style="color: white;">&copy; 2024 Subway. All rights reserved. | <a href="privacyPolicy">Privacy Policy</a> | <a href="contactUs">Contact Us</a> | </p>
</footer>
