<html>

<head>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

    <!-- Link to custom stylesheets -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- Custom CSS for navbar -->
    <style>
        .navbar-red {
            background-color: rgb(17, 3, 59); /* Set background color */
        }
    </style>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-red bg-red"> <!-- Bootstrap navigation bar with custom red background -->
        <div>
            <!-- List of navigation links -->
            <ul class="navbar-nav">
                <!-- Navigation link to Subs page -->
                <li class="nav-item">
                    <a class="nav-link" href="/Subs">Subs</a>
                </li>
                <!-- Navigation link to Wraps page -->
                <li class="nav-item">
                    <a class="nav-link" href="/Wraps">Wraps</a>
                </li>
                <!-- Navigation link to Drinks page -->
                <li class="nav-item">
                    <a class="nav-link" href="/Drinks">Drinks</a>
                </li>
                <!-- Navigation link to Dessert page -->
                <li class="nav-item">
                    <a class="nav-link" href="/Dessert">Dessert</a>
                </li>
                <!-- Navigation link to Logout page -->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>
