<html>

<head>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

    <!-- Link to custom stylesheets -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- Custom CSS for navbar -->
    <style>
        .navbar-red {
            background-color: rgb(17, 3, 59); /* Set background color */
        }
    </style>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-red"> <!-- Bootstrap navigation bar -->
        <div>
            <!-- List of navigation links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a> <!-- Link to home page -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Menu">Menu</a> <!-- Link to Menu page -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reviews</a> <!-- Link to reviews page -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Register</a> <!-- Link to login/register page -->
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>