<%- include ("partials/header.ejs") %> <!-- Includes the header -->

<div class="container">
    <p>Please contact us for more info.</p> 

    <h3 style="color:#800020;">E-mail:</h3> <!-- Email-->
    <p>Subway1908@gmail.com</p> 

    <h3 style="color:#800020;">Phone:</h3> 
    <p>+64 0123456789</p> <!-- Phone number -->
</div>

<%- include ("partials/footer.ejs") %> <!-- Includes the footer-->
