<%- include ("partials/header.ejs") %> <!-- Includes the header -->

<html> 
<head>
    <title>Welcome to Subway</title> 
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Link to the CSS file for styling -->
</head>
<body>
    <div class="container">
        <h1 style="color:#800020;">Welcome to Subway</h1> 
        <p>Welcome to Subway, your ultimate destination for Sub discovery and appreciation! At Subway, explore, and share your love for the world of Subway.</p> <!-- Introduction paragraph -->
        <p>Discover our healthy Subs,with your personalise adding stuffs and enjoy with family and friends and spend time together.</p> <!-- Overview of the offerings on Subway -->

        <h2 style="color:#800020;"><u>Who are we?</u></h2> 
        <p> Website is to provide fast food services focused on sandwiches (subs) and other related food items.  
            Subway is known for offering fresh, made-to-order sandwiches where customers can customize their meals with a variety of breads, meats, vegetables, and condiments.
            Overall, the main purpose of this website is to deliver fresh, customizable, and health-conscious meal options in a fast and convenient manner.
        </p>
        
        <a href="learnmore">Learn More</a> <!-- Link to learn more about Subway -->

        <%- include ("partials/footer.ejs") %> <!-- Includes the footer -->
    </div>
</body>
</html>  