<%- include ("partials/header.ejs") %> <!-- Includes the header-->
 
<html >
<head>
     
    <title>About Us</title>
    <link rel="stylesheet" href="/public/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        
            <h2  style="color:#800020;">About Us</h2>
            <p>Welcome to Subway, your ultimate destination for Sub discovery and appreciation! At Subway, explore, and share your love for the world of Subway.</p>
            <p>Our mission at Subway is simple:Discover our healthy Subs,with your personalise adding stuffs and enjoy with family and friends and spend time together.</p>

            <h2 style="color:#800020;">What We Offer?</h2>
            <p> To provide fast food services focused primarily on submarine sandwiches (subs) and other related food items.  
                Subway is known for offering fresh, made-to-order sandwiches where customers can customize their meals with a variety of breads, meats, vegetables, and condiments.
                Overall, the main purpose of this website is to deliver fresh, customizable, and health-conscious meal options in a fast and convenient manner.
            </p>
        
            <h2 style="color:#800020;">Why Choose Subway?</h2>
            <p>Website allows customers to fully customize their sandwiches. You can choose your bread, protein, vegetables, and condiments, making it easy to tailor your meal to your taste and dietary requirements.</p>
            <p>Subway is known for its range of healthier meal options. With a variety of fresh vegetables and lean proteins, you can create a nutritious meal. They also offer salads and options with whole-grain bread.</p>
            <p>Subway provides detailed nutrition information about its menu items, making it easier for health-conscious customers to make informed choices.</p>
            
    </div>
    
    <%- include ("partials/footer.ejs") %> <!-- Includes the footer-->

</body>
</html>
