<%- include ("partials/header2.ejs") %> <!-- Includes the header-->
<div class="container">
    <h2 style="color:#800020;">Members only page.</h2>

    <p >
        Welcome to a memebers only page. You are now logged in.
    </p>
    <p>
        You can now access our Delicious and Healthy Subs and wraps, which can be accessed from the navigation bar.
    </p>
</div>


<%- include ("partials/footer.ejs") %> <!-- Includes the footer-->