<%- include ("partials/header.ejs") %> <!-- Includes the header -->

<div class="container">
    <h2 style="text-align: center; color: #800020;">Welcome to our Subway!!!</h2>  
    <p>You need to <a href="/login">login</a> to access</p>  
</div>

<%- include ("partials/footer.ejs") %> <!-- Includes the footer  -->
